ul li{
    list-style-type: none;
}
li:nth-child(odd){
    background-color: lightskyblue;
    width: 800px;
}
li:nth-child(even){
    background-color: bisque;
    width: 800px;
}
div{
    margin-left: auto;
    margin-right: auto;
}
h4{
    text-align: center;

}
