body{
    background-color:skyblue;
}
h1{
    text-align: center;
}
div{
    background-color:white;
    height: 230px;
    width: 180px;
    margin: 30px;
    margin-left: 30px;
    text-align: center; 
    
}
i{
    margin-top: 40px;
    font-size: 50px;
    text-align: center;
}
hr{
    height: 5px;
    width:100px;
    background-color: black;
}
table{
    margin-left: auto;
    margin-right: auto;
}