div{
    height:180px;
    width: 800px;
    background-color: white;
    padding: 10px;
}
body{
    background-color: gainsboro;
}
.img{
    height: 200px;
    width: 200px;
    float: left;
    padding: 0px;
    
}
.up{
    margin-top: 10px;
    height:140px;
    width: 100px;
    float: left;
    
}
#hrt{
    padding: 10px;
    float: right;
    
}
#down{
    height: 140px;
    width: 200px;
    margin-top: 10px;
    float: left;    
}
#root{
    height: 140px;
    width: 320px;
    margin-top: 10px;
    float: left;
    
}
.op{
    margin-top: 10px;
    height:140px;
    width: 100px;
    float: left;
    margin-left: 20px;
}
#world{
    float: right;
}